<!DOCTYPE html>
<html lang="pl">

{% load staticfiles %}
{% load bootstrap3 %}

  <head>
    {#% providers_media_js %#}
	{% bootstrap_css %}
	{% bootstrap_javascript %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="http://getbootstrap.com/favicon.ico">

    <title>{% block title %}BHP{%endblock%}</title>

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/dashboard/dashboard.css" rel="stylesheet">

  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home_page' %}">Panel pracownika BHP</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'admin:index' %}">Panel administracyjny</a></li>
            {% if user.is_authenticated %}<li><a href="{% url 'account_logout' %}">Wyloguj</a></li>{% endif %}
          </ul>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="{% url 'home_page' %}">Pilne zadania <span class="sr-only">(current)</span></a></li>
            <li><a href="{% url 'artykuly_bhp:product_list' %}">Wykaz artykułów BHP</a></li>
            <li><a href="{% url 'artykuly_bhp:przydzial_list' %}">Przydziału produktów BHP</a></li>
            <li><a href="{% url 'szkolenia:instruction_list' %}">Szkolenia</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header" align="center"><b>{% now "SHORT_DATETIME_FORMAT" %}</b></h1>

    {% block content %}
    {% endblock %}
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

  </body>
</html>
